---
title: FAQ
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% include "partials/_header.html" %}
	{% include "partials/_hero.html" %}
	<div class="content">
		<div class="l-center">
			<h3 class="title-h3 title_center">Frequently Asked Questions</h3>
			<div class="faq">
				<div class="faq__side">
					<div class="faq__bl">
						<h5 class="title-h5">Why 1340Gallery?</h5>
						<p>1340gallery was born out of frustration. With 1340art magazine we want to give upcoming artist around the world a platform. A platform to show their work to a broader audience. We come across many very talented artists. Unfortuntely selling art on a larger scale can be difficult for an upcoming artists. "No Unsolicited Submissions," is a reponds many artist receive when they reach out to a gallery or museum to introduce their work. 1340gallery is here to change this. We want to make the works of the best and the most talented artists available for the public.</p>
					</div>
					<div class="faq__bl">
						<h5 class="title-h5">Can anyone sell on 1340Gallery?</h5>
						<p>1340gallery supports the work of all emerging artists. However, at this point, registration is on invite only. Later, our platform will be open for all artists above 18 years of age.</p>
						<p>We review applications on a weekly basis and you will be contacted by a member of the team following our next Application Review. Registration on invite is free of charge. If accepted for representation, you will have to read and agree to our Terms and Conditions of Representation before your profile is made live online or we can start selling your work.</p>
					</div>
					<div class="faq__bl">
						<h5 class="title-h5">Curated</h5>
						<p>Even though 1340art will eventually be open to artist all over the world, we want to maintain a certain level of standard. Our team of curators will evaluate every artists and their work indivudually. Only works accepted by our team of curators will be featured on our platform.</p>
					</div>
				</div>
				<div class="faq__side">
					<div class="faq__bl">
						<h5 class="title-h5">What do I need to do to start selling my artwork on 1340Gallery?</h5>
						<p>As stated earlier, 1340gallery is currently on invite only. If you are invited, please use our form to upload your artwork. Also, don’t forget to take some time to fill in your profile with information about yourself, such as where you studied, your exhibition history, and an artist’s statement. This kind of information can increase your chances of selling work and being noticed by our curators.</p>
					</div>
					<div class="faq__bl">
						<h5 class="title-h5">What can I sell on 1340gallery?</h5>
						<p>1340gallery provides a platform for artists to sell works in a variety of mediums, including: painting, collage, photography, drawing, sculpture, printmaking, mixed media, limited edition prints, installation, and open edition prints.</p>
					</div>
					<div class="faq__bl">
						<h5 class="title-h5">No Commission</h5>
						<p>If you sell an original artwork, 1340Gallery wont take any commission on the final sale price. We believe that the artists has the right to keep all profits from their work.</p>
						<p>1340gallery is a platform designed specifically to support artists by giving them 100% of the proceeds from the sale of their artworks.</p>
					</div>
				</div>
			</div>
			<h4 class="title-h4 title_center">For more information please contact our support team at <a href="mailto:info@1340gallery.com" class="link link_blue">info@1340gallery.com</a></h4>
		</div>
	</div>
	{% include "partials/_footer.html" %}
{% endblock %}
