---
title: 1340 Gallery
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% include "partials/_header.html" %}
	{% include "partials/_hero.html" %}
	<!-- begin desc -->
	<section class="desc">
		<div class="l-center">
			<h2 class="title-h2">1340gallery: No Commission</h2>
			<div class="desc__subtitle">contemporary art curated by experts</div>
			<div class="desc__text">
			{# 	Sell your art to a global community of art collectors.</br>
				Have your work seen by thousands of collectors worldwide.
				<div class="desc__btn">
					<a href="#" class="btn">Apply to sell now >></a>
				</div>
			</div> #}
			{% set stats = [{
				title: 'Registered artists',
				text: '4000+'
			}, {
				title: 'Available artwork',
				text: '10.000+'
			}, {
				title: 'Days till launch',
				text: '<div id="js-counter"></span>'
			}] %}
			<div class="stats">
				{% for bl in stats %}
				<div class="stats__bl">
					<div class="stats__ttl">{{ bl.title }}</div>
					<div class="stats__txt">{{ bl.text | safe }}</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<a href="#" class="link">Click here for more information</a>
	</section>
	<!-- end desc -->
	<!-- begin join -->
	<div class="join">
		<div class="l-center">
			<div class="join__in">
				<div class="join__bl">
					<p class="join__ttl">Sell your art to a global community of art collectors.</p>
					<p>Have your work seen by thousands of collectors worldwide.</p>
					<div class="join__btn">
						<a href="#" class="btn btn_red">Apply to sell now >></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end join -->
	{% include "partials/_artists.html" %}
	{% include "partials/_footer.html" %}
{% endblock %}
