---
title: 1340 Gallery
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% include "partials/_header.html" %}
	<!-- begin hero -->
	<div class="hero">
		<div class="l-center">
			<div class="logo">
				<a href="#" class="logo__link">
					<img src="img/logo.png" alt="1340 gallery">
					<div class="logo__text">Gallery</div>
				</a>
			</div>
			<div class="hero__txt">Coming soon</div>
			<div class="hero__date">01-01-17</div>
		</div>
	</div>
	<!-- end hero -->
	<!-- begin desc -->
	<section class="desc">
		<div class="l-center">
			<h2 class="title-h2">1340gallery: No Commission</h2>
			<div class="desc__subtitle">contemporary art curated by experts</div>
			<div class="desc__text">
				<p>Sell your art to a global community of art collectors.</p>
				<p>Have your work seen by thousands of collectors worldwide.</p>
			</div>
		</div>
	</section>
	<!-- end desc -->
	<!-- begin join -->
	<div class="join">
		<div class="l-center">
			<div class="join__bl">
				<p>Sell your art to a global community of art collectors</p>
				<p>Have your work seen by thousands of collectors worldwide</p>
				<div class="join__btn">
					<a href="#" class="btn btn_bold">Join us</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end join -->
	{% include "partials/_footer.html" %}
{% endblock %}
