<!-- begin artists -->
<div class="artists">
	<div class="artists__in">
		<div class="artists__title">
			<h3 class="title-h3">Available soon</h3>
		</div>
		<div class="artists__wrap">
			{{ mixins.artist({
				mod: 'artists__bl_w40',
				img: 'artist1',
				data: 'data-aos-delay=200'
			}) }}
			{{ mixins.artist({
				mod: 'artists__bl_w60 artists__bl_pt25',
				img: 'artist2'
			}) }}
			{{ mixins.artist({
				mod: 'artists__bl_w100',
				img: 'artist8'
			}) }}
			{{ mixins.artist({
				mod: 'artists__bl_w50',
				img: 'artist4'
			}) }}
			{{ mixins.artist({
				mod: 'artists__bl_w50 artists__bl_pt20',
				img: 'artist5',
				data: 'data-aos-delay=200'
			}) }}
			{{ mixins.artist({
				mod: 'artists__bl_w50 artists__bl_pt25',
				img: 'artist6'
			}) }}
			{{ mixins.artist({
				mod: 'artists__bl_w50',
				img: 'artist7',
				data: 'data-aos-delay=200'
			}) }}
			{{ mixins.artist({
				mod: 'artists__bl_w100',
				img: 'artist3'
			}) }}
		</div>
	</div>
</div>
<!-- end artists -->